body {
	background: #F4F4F0;
}

#logo{
	font-family: 'Anton', sans-serif;
 	color: #3399FF;
}

header {
	padding-top: 15px;
	font-family: 'Anton', sans-serif;
}

header h2 {
	font-size: 2.5em;
}


#cover-image {
   border: 1px solid #60605A;
   border-bottom: none;
   border-top: none;
}

#cover-image img {
	margin-top: 0px;
	width: 100%;
	height: auto;
}

#nav-wrapper {
	padding-top:25px;
}

nav {
    font-family: 'Anton', sans-serif;
	text-align: center !important;
	font-size: 1.3em;
	border: 1px solid #60605A;
	border-bottom: none;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background: #60605A;
	background: linear-gradient(top, #60605A 0%, #7F7F7F 100%);  
	background: -moz-linear-gradient(top, #60605A 0%, #7F7F7F 100%); 
	background: -webkit-linear-gradient(top, #60605A 0%,#7F7F7F 100%); 
}

nav ul {
	padding: 10px 10px !important;
}

nav ul li:hover {
	background: #efefef !important; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%) !important;  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%) !important; 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%) !important; 
	 
}

nav ul li:hover a {
	color: black !important;
	background: #efefef !important; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%) !important;  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%) !important; 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%) !important; 
}


nav ul li a {
	padding: 10px 10px !important;
	color: white !important;
	text-decoration: none !important;
}

nav ul ul li a:hover {
	color: white !important;
	background: #60605A !important;
	background: linear-gradient(top, #60605A 0%, #7F7F7F 100%) !important;  
	background: -moz-linear-gradient(top, #60605A 0%, #7F7F7F 100%) !important ; 
	background: -webkit-linear-gradient(top, #60605A 0%,#7F7F7F 100%) !important; 
}

section {
	font-family: 'Anton', sans-serif;
	border: 1px solid #60605A;
	border-top: none;
}

footer {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	background-color: #60605A;
	background: linear-gradient(top, #60605A 0%, #7F7F7F 100%);  
	background: -moz-linear-gradient(top, #60605A 0%, #7F7F7F 100%); 
	background: -webkit-linear-gradient(top, #60605A 0%,#7F7F7F 100%); 
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

footer a {
	color: white;
}

footer a:hover {
	color: #fff !important; 
}

#disclaimer {
	color: white;
	font-size: 0.9em;
}
